@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@font-face {
  src: url("../fonts/Saiyan-Sans.ttf");
  font-family: "Saiyan";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body > header:nth-child(1) {
  background-color: #e55e2e;
  display: flex;
  align-items: center;
  padding: 0.56rem 0.87rem;
}

body > header:nth-child(1) > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > header:nth-child(1) > div > img {
  width: 1.09375rem;
  height: 1.25rem;
  margin: 0.65rem;
}

body > header:nth-child(1) > div > span {
  font-family: "Saiyan", sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
}

footer {
  background-color: #e55e2e;
  padding: 0.5rem;
  font-size: 0.5rem;
  color: #ffffff;
}

footer > p {
  text-align: center;
}

main{
    margin: 0.5rem 2rem;
}

/* CSS para os cards */


.card{
    height: 12rem;
    border-radius: 0.5rem;
    border: 3px solid #ac0117;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
}
.card > article{
    padding: 0.5rem;
    background-color: #ac0117;
    width: 100%;
}

.card > article > a{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.25rem;
    display: block;
    text-align: center;
    text-decoration: none;
}

#card_one{
    background-image: url("../imgs/historia.jpg");
    
}

#card_two{
    background-image: url("../imgs/akira.jpg");
}

#card_three{
    background-image: url("../imgs/galeria.jpg");
}

#card_four{
    background-image:url("../imgs/pedidos.jpg");
}